button:focus {
	outline: none;
}

.top-button {
	float:left;
	min-width: 80px;
	font-size: 15px;
	cursor: pointer;
	margin: 3px 0 3px 40px;
	text-align: center;
	text-decoration: none;
}

.top-button.green {
	border: 1px solid #2E7D32;
	color: #4CAF50;
	padding: 4px;
}

.top-button.square {
	min-width: 32px;
}

.top-button.green:hover {
	background-color: #2E7D32;
	color: white;
}

.top-button.gray {
	border: 1px solid #A0A0A0;
	color: #A0A0A0;
	background: none;
	height: 30px;
}

.top-button.gray:hover {
	color: #D3D3D3;
	border: 1px solid #D3D3D3;
}

.top-button.icon {
	color: #E0E0E0;
	height: 30px;
	line-height: 30px;
	opacity: 0.6;
	background: none;
	border: 0;
	font-size: 27px;
	min-width: 32px;
	padding: 0;
}

.top-button.icon:hover {
	opacity: 1;
}

.hidden {
	display: none;
}

#program-result{
	font-size:15px; 
	font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
}

#editor-area{
	padding:0;
	font-size:15px; 
	font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
}
	
.tool-label{
	font-size:16px;
	padding: 8px 10px 6px;
	float: left;
}

.tool-label .version{
	font-size: 14px;
	color: #D1D1D1;
}

.dropbtn {
	background-color: #E0E0E0;
	color: #424242;
	padding: 8px;
	min-width: 160px;
	font-size: 16px;
	border: 1px solid #9E9E9E;
	cursor: pointer;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	right: 0;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #BDBDBD;
}

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: rgba(0,0,0,0.3);
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	top: -1px;
	left: 105%; 
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

.loading-icon {
	display: none;
	position: absolute;
	z-index: 10;
	color: #e0e0e0;
	left: 50%;
	top: 40%;
}

.loading-icon i {
	position: relative;
	left: -50%;
}

/* Layout */
.ui-layout-north {
	overflow:hidden;
	padding: 5px;
}

.ui-layout-resizer {
	background: #7C7C7C;
	border: 0px;
}
.ui-layout-pane {
	border: 0px;
}
.ui-layout-north {
	background: #3D3D3D;
}

/* CodeMirror */
.cm-matchhighlight { background-color: #505860 }
.cm-s-lesser-dark .CodeMirror-gutters { background: #262626; border-right:0px }
.cm-s-lesser-dark .CodeMirror-linenumber { color: #5A5A5A; }

/* menu */
@media (min-width: 768px) {
	#main-nav {
		line-height: 0;
		text-align: left;
	}
	#main-menu {
		display: inline-block;
		float: left;
		background: none;;
	}
}

.sm-clean a, .sm-clean a:hover, .sm-clean a:focus, .sm-clean a:active {
	font-size: 16px!important;
	padding: 11px 12px 8px!important;
	color: #A0A0A0;
}
.sm-clean a, .sm-clean a:hover, .sm-clean a:focus, .sm-clean a:hover {
	color: #E0E0E0!important;
}
.sm-clean a, .sm-clean a:hover, .sm-clean a:focus, .sm-clean a:highlighted {
	color: #E0E0E0!important;
}
.sm-clean ul {
	background: #3D3D3D;
	border: 0;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-ms-border-radius: 0 !important;
	-o-border-radius: 0 !important;
	border-radius: 0 !important;
}

.sm-clean ul a:hover {
	background: #585858;
}
.sm-clean ul a.highlighted {
	background: #585858!important;
}
.sm-clean ul a:active {
	background: #585858;
}
.sm-clean a span.sub-arrow {
	border-color: #E0E0E0 transparent transparent transparent;
	margin-top: 0px;
}

.sm-clean ul a span.sub-arrow {
	border-color: transparent transparent transparent #E0E0E0;
}
.sm-clean > li > ul:before,
.sm-clean > li > ul:after {
	border-color: transparent transparent #3D3D3D transparent;
}
.sm-clean > li > ul:after {
	border-color: transparent transparent #3D3D3D transparent;
}
.sm-clean a.has-submenu {
	padding-right: 24px!important;
}

/* Scrollbar (Webkit only) */
::-webkit-scrollbar-track {
	background: none;
}

::-webkit-scrollbar {
	right: 3px;
	width: 8px;
	height: 8px;
	background: none;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: rgba(100,100,100,.6);
}

.CodeMirror-scrollbar-filler {
	background: none;
}

#editor-area {
	padding-right: 3px;
	padding-bottom: 3px;
	background: #262626;
}