.cm-matchhighlight {
	background-color: #505860
}

.ui-layout-north {
	overflow:hidden;
	padding: 5px;
}

button:focus {
	outline: none;
}

.top-button {
	color: white;
	padding: 6px;
	min-width: 100px;
	font-size: 16px;
	cursor: pointer;
	margin-left: 40px;
	text-align: center;
	text-decoration: none;
}

.top-button.green {
	background-color: #4CAF50;
	border: 1px solid #2E7D32;
}

.top-button.square {
	min-width: 34px;
}

.top-button.green:hover {
	background-color: #2E7D32;
}

.top-button.gray {
	background-color: #E0E0E0;
	border: 1px solid #BDBDBD;
	color: #111111;
}

.top-button.gray:hover {
	background-color: #BDBDBD;
}

.hidden {
	display: none;
}

#program-result{
	font-size:15px; 
	font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
}

#editor-area{
	padding:0;
	font-size:15px; 
	font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
}
	
.tool-label{
	font-size:16px;
	padding: 8px 10px 6px;
	float: left;
}

.tool-label #version{
	font-size: 14px;
}

.dropbtn {
	background-color: #E0E0E0;
	color: #424242;
	padding: 8px;
	min-width: 160px;
	font-size: 16px;
	border: 1px solid #9E9E9E;
	cursor: pointer;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	right: 0;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #BDBDBD;
}

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: rgba(0,0,0,0.4);
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	top: 2px;
	left: 105%; 
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

.loading-icon {
	display: none;
	position: absolute;
	z-index: 10;
	color: #e0e0e0;
	left: 50%;
	top: 40%;
}

.loading-icon i {
	position: relative;
	left: -50%;
}

/* menu */
@media (min-width: 768px) {
	#main-nav {
		line-height: 0;
		text-align: left;
	}
	#main-menu {
		display: inline-block;
		float: left;
		background: none;;
	}
}

.sm-clean a, .sm-clean a:hover, .sm-clean a:focus, .sm-clean a:active{
	font-size: 16px!important;
	padding: 11px 12px 8px!important;
}

.sm-clean a.has-submenu {
	padding-right: 24px!important;
}